@page "/EntradasHucales/Edit/{Huacal:int}"

@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject EntradasHuacalesServices entradasHuacalesServices


<PageTitle>Editar Entradas Huacales</PageTitle>

<EditForm Model="EntradasHuacales" OnValidSubmit="Guardar">
    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="container">

        @if (!string.IsNullOrEmpty(Mensajes))
        {
            <div class="alert alert-danger alert-dismissible">
                <label></label> @Mensajes
                <button class="btn-close" @onclick="() => Mensajes = string.Empty"></button>
            </div>

        }

        <div class="card shadow-lg">

            <div class="card-header d-flex justify-content-between align-content-end">
                <h5>Edicion de Huacales</h5>
                <button class="btn btn-danger" >Eliminar Huacal</button>
            </div>

            <div class="card-body">

                <div class="mb-3">
                    <label class="form-label fw-bold">Fecha</label>
                    <InputDate class="form-control" @bind-Value="EntradasHuacales.Fecha"></InputDate>
                    <ValidationMessage For="@(() => EntradasHuacales.Fecha)"></ValidationMessage>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">NombreCliente</label>
                    <InputText class="form-control" @bind-Value="EntradasHuacales.NombreCliente"></InputText>
                    <ValidationMessage For="@(() => EntradasHuacales.NombreCliente)"></ValidationMessage>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Cantidad</label>
                    <InputNumber class="form-control" @bind-Value="EntradasHuacales.Cantidad"></InputNumber>
                    <ValidationMessage For="@(() => EntradasHuacales.Cantidad)"></ValidationMessage>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Precio</label>
                    <InputNumber class="form-control" @bind-Value="EntradasHuacales.Precio"></InputNumber>
                    <ValidationMessage For="@(() => EntradasHuacales.Precio)"></ValidationMessage>
                </div>

            </div>

            <div class="card-footer d-flex justify-content-between align-items-end">
                <button type="button" class="btn-outline-secondary" @onclick="Volver">Volver</button>

                <button type="submit" class="btn-outline-primary">Crear</button>

            </div>
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public int IdEntrada { get; set; }

    public string Mensajes { get; set; } = string.Empty;

    public EntradasHuacales EntradasHuacales { get; set; } = new EntradasHuacales();

    public async Task Guardar()
    {
        if (await entradasHuacalesServices.Existe(EntradasHuacales))
        {
            Mensajes = "Ya el estudiante existe";
        }
        else
        {
            await entradasHuacalesServices.Guardar(EntradasHuacales);
            Volver();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await entradasHuacalesServices.Eliminar(EntradasHuacales);

        if (eliminado)
        {
            Volver();
        }
        else
        {
            Mensajes = "No se ha podido eliminar";
        }
    }

    public async Task Volver() => navigationManager.NavigateTo("/EntradaHuacales/Index");
}
